/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background-color: #222222;
    color: #fff;
}
header h2{
    color: #fff;
    font-size: 2rem;
    font-style: italic; /* Aplica estilo cursivo */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.logo {
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Footer */
footer {
    background-color: #222222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Responsividad del Header */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    nav ul li {
        padding: 0.5rem 0;
    }
}